div#estimationPage
    div#estimation
      div
        h2 Votre bien immobilier
      div
        div.recapValue
            p.data {{data.name}}
        div.recapValue
            p De
            p.data {{data.surface}}
            p m²
        div.recapValue
            p Avec
            p.data {{data.pieces}}
            p pièce(s)
        div.recapValue
            p.data {{data.etat}}
        div.recapValue
            p Coûte
            p.data {{data.prix}}
            p /m²
      div#total
        h3 Estimer à : 
        p {{estimation}}€
      div#estimer
            a(href="/form")
                button#estimer Nouvelle Estimation