div#form
    form
        div.question 
            p Quel type de bien souhaitez vous estimez ?
            div.typeRadio
                label
                    input(type="radio" ng-model= "type.name" value="Appartement")
                    p Appartement
                label
                    input(type="radio" ng-model= "type.name" value="Maison")
                    p Maison          
        div.question  
            p Quel est la surface de votre bien ?
            div(class="input")
                input(type="number" ng-model="type.surface")             
        div.question  
            p Combien y a t-il de pièces ?
            div(class="input")
                input(type="number" ng-model="type.pieces")             
        div.question  
            p Quel est le prix au m² ?
            div(class="input")
                input(type="number" ng-model="type.prix")
        div.question  
            p Quel est l'état général du bien ?
            div.typeRadio
                label
                input(type="radio" ng-model= "type.etat" value="Refait à neuf")
                p Refait à neuf
                label
                input(type="radio" ng-model= "type.etat" value="Bon état")
                p Bon état  
                label
                input(type="radio" ng-model= "type.etat" value="Nécessite des travaux")
                p Nécessite des travaux 
        div#estimer
            input(type="submit" ng-click="submit()" value='Estimer maintenant')
       