div#form
    form
        div 
            p Quel type de bien souhaitez vous estimez ?
            div#typeRadio
                label
                    input(type="radio" ng-model= "type.name" value="appartement")
                    p Appartement
                label
                    input(type="radio" ng-model= "type.name" value="maison")
                    p Maison          
        div 
            p Quel est la surface de votre bien ?
            div
                input(type="number" ng-model="type.surface")             
        div 
            p Combien y a t-il de pièces ?
            div
                input(type="number" ng-model="type.pieces")             
        div 
            p Quel est le prix au m² ?
            div
                input(type="number" ng-model="type.prix")
        div 
            p Quel est l'état général du bien ?
            div
                label
                input(type="radio" ng-model= "type.etat" value="Refait à neuf")
                p Refait à neuf
                label
                input(type="radio" ng-model= "type.etat" value="Bon état")
                p Bon état  
                label
                input(type="radio" ng-model= "type.etat" value="Nécessite des travaux")
                p Nécessite des travaux 

                a(href="/estimation")
                    button estimer