* {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}

#home {
  height: 350px;
  background-color: #303248;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#titleDiv {
  padding-top: 50px;
}

#titleDiv h2 {
  margin-top: 20px;
}

#buttonDiv {
  padding-bottom: 50px;
}
#buttonDiv button {
  padding: 15px 40px;
  color: white;
  background-color: #33d694;
  font-size: 20px;
  border-radius: 5px;
}

#estimer {
  text-align: center;
  margin-top: 20px;
}
#estimer button,
#estimer input {
  padding: 10px 30px;
  color: white;
  background-color: #33d694;
  font-size: 20px;
  border-radius: 5px;
}
#form,
#estimationPage {
  height: 650px;
  background-color: #303248;
  padding-top: 50px;
}

form,
#estimation {
  color: #303248dc;
  margin: 0px auto;
  padding: 10px 30px 60px 30px;
  border-radius: 9px;
  height: 500px;
  width: 400px;
  background-color: white;
}
.question {
  margin-top: 25px;
}
.question p {
  font-size: 17px;
  text-align: center;
}
div.input {
  text-align: center;
  margin-top: 8px;
}
.typeRadio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}
.typeRadio label {
  display: block;
  text-align: center;
}
/* input {
  align-items: center;
} */
input[type="number"] {
  color: #30324849;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #33d694;
  font-size: 15px;
}
#estimation h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}
.recapValue {
  font-size: 20px;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.data {
  color: #30324849;
}
#total {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

#total h3,
#total p {
  font-size: 35px;
  font-weight: bold;
}
